$headcolor: #262e34;
$navcolor: #ffffff;
$logincolor: #9ba4ae;
$mobile-widths: 950px;
$font-family-bold: "HelveticaBold", sans-serif;

.page-header {
	width: auto;
	height: auto;
	background-color: $headcolor;
}

.page-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 940px;
	margin: 0 auto;
	padding: 32px 10px;
}

.page-header__logo {
	width: 175px;
	height: 56px;
	margin-right: 25px;
}

.main-nav__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.main-nav__toogle {
	display: none;
}

.main-nav__item {
	margin-right: 25px;
	font-family:$font-family-bold ;
	font-size: 14px;
	padding: 0px;
	text-transform: uppercase;

	&:last-child {
		margin-right: 0;
	}

	&--link {
		color: $navcolor;
	}  

	&--login {
		color: $logincolor;
	}
}

@media only screen and (max-width: $mobile-widths) {

	.main-nav {
		order: 3;
		width: 100%;
		display: none;

		&--opened {
			display: block;
		}
	}

	.page-header__wrapper {
		flex-wrap:wrap;
	}

	.main-nav__list {
		flex-direction:column;
	}

	.main-nav__item { 
		margin: 0;
		margin-top: 15px;
	}

	.main-nav__toogle {
		display: block;
		position: relative;
		order:2;
		width: 50px;
		height: 50px;
		cursor: pointer;

		&::before {
		content: "";
		position: absolute;
		top: 10px;
		right: 0;
		width: 50px;
		height: 4px;
		background-color: $navcolor;
		box-shadow: 0 11px 0 0 $navcolor,
					0 22px 0 0 $navcolor;
		}

		&--opened {
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 22px;
				right: 10px;

				width: 30px;
				height: 4px;

				background-color: $navcolor;
			}
			&::before {
				transform: rotate(45deg);
				box-shadow: none;
			}
			&::after {
				transform: rotate(-45deg);
			}
		}	
	}
}